src/main/mule/db-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c1a166ad-408a-4a23-95a0-29d2558d976c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="db-system-apiFlow" doc:id="f1496318-74c9-446f-82a3-2a7c89347182" >
		<http:listener doc:name="Listener" doc:id="0358541e-1832-4f6d-808d-0ba087e1d629" config-ref="HTTP_Listener_config" path="/db-system"/>
		<ee:transform doc:name="Transform Message" doc:id="786d3df9-40e3-4df6-a666-f25acdd5e813" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "This is my message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e86148e4-1ac1-447f-981a-864c5f0d8804" message="This is input == #[payload] and another payload=#[2+2] "/>
	</flow>
</mule>
